<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuo.gold3munite" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/g3m_label_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="NEXT_BUTTON"/>
                <action android:name="MORE_BUTTON"/>
                <action android:name="SOUND_BUTTON"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.kuo.service.G3MService" />
        <activity android:name=".DetailEnglishActivity"/>
        <activity android:name=".DetailScienceActivity"/>
    </application>

</manifest>
